# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Debug information files
*.dwo


# CMake
.cmake/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
CTestTestfile.cmake
Makefile
Testing

# Ninja
.ninja_deps
.ninja_log
build.ninja

# Build
build
compile_commands.json
src/*.cmake
src/columnar_engine

# Tests
tests/*.cmake
tests/test_fileio
tests/test_foo
tests/test_columnar
tests/test_csv
tests/test_batch
tests/test_columns

# Examples
examples/*.cmake
examples/example_fileio
examples/example_columnar
examples/example_csv
examples/example_batch
examples/example_columns

examples/out_batch
examples/out_columnar

# IDE
.vscode
.idea
.venv