name: Build and test

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Fetch dependencies
      run: sudo apt-get install libgtest-dev clang-format clang-tidy

    - name: Configure CMake
      run: |
        mkdir build
        cd build
        cmake -GNinja -DCMAKE_BUILD_TYPE=Debug ..

    - name: Build
      run: |
        cd build
        ninja

    - name: Test
      run: |
        cd build
        ./src/tests/test_foo
